body{
    background-color: grey;
    margin: 10px 20px;
    font-family: 'Open Sans', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.6fr;
    grid-template-areas: "nav nav nav nav" 
        "side main main main"
        "side content1 content2 content3"
        "side footer footer footer";
    gap : 0.2rem;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: side;
}

main{
    grid-area: main;
}

.content1{
    grid-area: content1;
}

.content2{
    grid-area: content2;
}

.content3{
    grid-area: content3;
}
ul{
    list-style :none;
    display: flex;
    justify-content: space-evenly;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
}

img{
    background-size: cover;
}

@media (max-width:700px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1.3fr 1.3fr 0.5fr;
        grid-template-areas: "nav nav nav"
        "side main main"
        "content1 content2 content3"
        "footer footer footer";
    }
}
@media (max-width:500px){
    .grid-container{
    grid-template-columns: 1fr ;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: "nav"
    "side"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";
    }

}